@font-face {
    font-family: "Questrial";
    src: url(https://fonts.gstatic.com/s/questrial/v9/QdVUSTchPBm7nuUeVf70viFluW44JQ.woff2);
}

body {
    margin: 0;
    font-family: "Questrial";
}
a:link{
	font-size: 20px;
	color: #FFFFFF;
	font-family: monospace;
	font-weight: bold;
	text-decoration: none;
	margin-left:20px;
}
a:visited{
	font-size: 20px;
	color: #FFFFFF;
	font-family: monospace;
	font-weight: bold;
	text-decoration: none;
	margin-left:20px;
}
div.div1{
	height:30px;
	width:100%;
	background-color:black;
}
li.test{
	text-align:right;
	text-align:bottom;
	margin-right:20px;
}

h1 {
  font-size: 25px;
  text-align: center;
  color: #8ADECD;
  font-family: monospace;
  font-weight: bold;
  margin-top:30px;
  margin-bottom:40px;
}
#container {
	display: block;
	min-height:50px;
	height: auto;
	background-color:#8ADECD;
	border-radius:10px;
	width:90%;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	margin-top:40px;
}
#table {
	display: block;
	min-height:100px;
	height:auto;
	background-color:#8ADECD;
	border-radius:10px;
	width:90%;
	margin-left: auto;
	margin-right: auto;
	text-align:auto;
	margin-top:40px
	
}
template.content{
	display: block;
	height: auto;
	min-height:50px;
	background-color:white;
	border-radius:10px;
	width:98%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:10px;
	text-align:center;
	content:center;
}

label.lab2{
	
	font-size: 15px;
	color: #FFFFFF;
	font-family: monospace;
	font-weight: bold;
	padding-left:15px;
	padding-top:10px;
	display:inline-block;
}

.reserverButt {
  background-color: rgb(46, 164, 140 );
  border-radius: 300px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: monospace;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  height:auto;
  margin-top: 10px;
  margin-bottom:10px;
  margin-left:50px;
}
.buttButt {
  background-color: rgb(46, 164, 140 );
  border-radius: 300px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: monospace;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  height:auto;
  margin-top: 10px;
  margin-bottom:10px;
}
select{
	border:none;
	outline:0;
	border-color:transparent;
}
input{
	border:none;
	outline:0;
	border-color:transparent;
}
th{
	font-size: 15px;
	font-family: monospace;
	font-weight: bold;
	padding-left:30px;
	display:flow;
	padding-right:30px;
	padding-top:20px;
	padding-bottom:20px;
}
th.void{
	background-color:#8ADECD;
	padding-left:5px;
	padding-right:5px;
	display:flow;
	padding-bottom:10px;
	padding-top:10px;
}
td.text{
	font-family: monospace;
	font-weight: bold;
	text-align:center;
	padding-left:60px;
	padding-bottom:10px;
	padding-top:10px;
	display:flow;
	padding-right:60px;
}
td.check{
	text-align:center;
	padding-bottom:10px;
	padding-top:10px;
	background-color:#8ADECD;
}
td.button{
	text-align:left;
	padding-bottom:0px;
	padding-top:0px;
	background-color:#8ADECD;
	padding-right:40px;
}
td.void{
	background-color:#8ADECD;
	padding-left:10px;
	padding-right:10px;
	display:flow;
	padding-bottom:20px;
	padding-top:20px;
}
tr.content{
	font-size: 15px;
	font-family: monospace;
	font-weight: bold;
	text-align:center;
	background-color:white;
	border-radius:20px;
	height: 15px;
	width:100px;
	
}
tr.list{
	color: #FFFFFF;
}


#popup-frame {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .6);
}

#popup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}