:root {
  --color1: #E3EBD0;
  --color2:#C7DDC5;
  --color3:#4c9f7c;
  --color4:black;
  --color5:#70a07a;
}
.form {
	width: 50%;
	max-width: 330px;
	padding: 15px;
	margin: auto;

}
h1 {
  font-size: 40px;
  text-align: center;
  color: var(--color3);
  font-family: monospace;
  font-weight: bold;
  margin-top:5px;

}
.t2 {
	font-size: 20px;
  color: var(--color3);
	font-weight: bold;
	font-family: monospace;
	justify-content: center;
	align-items: center;
}
.connectButt {
   background-color: var(--color1);
  border-radius: 300px;
  color: var(--color5);
  cursor: pointer;
  display: inline-block;
  font-family: monospace;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  height:50px;
  margin-top: 30px;
  margin-left:60px;
}

.connectButt:hover {
  transform: scale(1.05);
  text-align:center;
}
#container {
	display: flex;
	margin:20%;
	margin-top:10%;
	height: 50vh;
	background-color:var(--color2);
	border-radius:30px;
}